---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>BandControl | Skeleton</title>
</head>
<body>

    <div class="app-shell">
        <header>
            </header>

        <div class="main-layout">
            
            <aside class="library">
                </aside>

            <main class="content">
                <div class="paper">
                    <pre class="song-raw"></pre>
                </div>
            </main>

            <aside class="sidebar-right">
                </aside>

        </div>

        <footer class="rack-footer">
            </footer>
    </div>

</body>
</html>