---
/* src/components/Header.astro */
---
<header class="rack-header">
  <div class="logo-plate">
    <span class="rivet top-left"></span>
    <span class="rivet top-right"></span>
    
    <h1 class="logo-text">
      <span class="part-1">Band</span><span class="part-2">Control</span>
    </h1>
    
    <span class="rivet bottom-left"></span>
    <span class="rivet bottom-right"></span>
  </div>
</header>